.subsection {
    /*border:1px solid lightgray;*/
    /*padding:0.5em;*/

    }

#map {
    background:black;
    width:100%;
    /* Temporary hack: When map is instantiated the div it's in is zero height for some reason. 100% would be better than 100vh. */
    height:100vh;
}
.row {height:100%;}

.table {
    font-size: 12px;
    margin-bottom:0;
}

.table td {
    padding:0.5em;
    color:#655;
}
.table th {
    text-align:left;
    padding-left:0;
}

.table td.current {
    
    background:hsl(180,30%,90%);
    color:black;
    /*font-weight:500;*/
}

h2 {
    font-size:20px;
}

h3 {
    margin-top:0.5em;
    background:#f7f7f7;
    /*border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;*/
}

#search {
    position:absolute;
    /*width: 10em;
    height: 3em;*/
    /*z-index: 2001;*/
    top:1em;
    left:2em;
    background:white;
}